@charset "utf-8";


#p_header ul#p_topnav{display:block; float:right; width:650px; margin:25px 0 0 0; padding:0; list-style:none; font-size:16px;}
#p_header ul#p_topnav ul, #p_header li{float:right; list-style:none; margin:0; padding:0;}
#p_header li a:link, #p_header li a:visited, #p_header li a:hover{display:block; margin:0; padding:5px 20px;
 color:darkgrey; 
 background-color:darkred; border-right:2px solid white;}
#p_header ul#p_topnav ul li a:link, #p_header ul#p_topnav ul li a:visited{border:none;}
#p_header ul#p_topnav li.last a{margin-right:0;}
#p_header li a:hover, #p_header ul#p_topnav li.active a{color:#FFFFFF; background-color:darkred;}
#p_header li li a:link, #p_header li li a:visited{width:150px; float:none; margin:0;
 padding:7px 10px; font-size:12px; font-weight:normal; font-family:Verdana, Arial,
 Helvetica, sans-serif; color:white; background-color:darkred;
 }
#p_header li li a:hover{color:#FFFFFF; background-color:darkgrey;}
#p_header li ul{background:#FFFFFF; z-index:9999; position:absolute; left:-999em; height:auto; width:170px;}
#p_header li ul a{width:140px;}
#p_header li ul ul{margin:-32px 0 0 0;}
#p_header li:hover ul ul{left:-999em;}
#p_header li:hover ul, #p_header li li:hover ul{left:auto;}
#p_header li:hover{position:static;}

/* ----------------------------------------------Column Navigation------------------------------------- */

#p_column .subnav{display:block; width:250px; padding:25px; background-color:#161616; margin-bottom:30px;}
#p_column .subnav h2{margin:0 0 20px 0; padding:0 0 14px 0; font-size:20px; font-weight:normal; font-family:Georgia, "Times New Roman", Times, serif; color:#666666; background-color:#161616; line-height:normal; border-bottom:1px dashed #666666;}
#p_column .subnav ul{margin:0; padding:0; list-style:none;}
#p_column .subnav li{margin:0 0 3px 0; padding:0;}
#p_column .subnav ul ul, #p_column .subnav ul ul ul, #p_column .subnav ul ul ul ul, #p_column .subnav ul ul ul ul ul{border-top:none; padding-top:0;}
#p_column .subnav a{display:block; margin:0; padding:5px 10px 5px 20px; color:#666666; background-image:url("images/lime_file.gif"); background-position:10px center; background-repeat:no-repeat; background-color:#161616; text-decoration:none; border-bottom:1px dotted #666666;}
#p_column .subnav a:hover{color:#99CC00; background-color:#161616;}
#p_column .subnav ul ul a, #p_column .subnav ul ul ul a, #p_column .subnav ul ul ul ul a, #p_column .subnav ul ul ul ul ul a{background:url("images/black_file.gif") no-repeat #161616;}
#p_column .subnav ul ul a{padding-left:40px; background-position:30px center;}
#p_column .subnav ul ul ul a{padding-left:50px; background-position:40px center;}
#p_column .subnav ul ul ul ul a{padding-left:60px; background-position:50px center;}
#p_column .subnav ul ul ul ul ul a{padding-left:70px; background-position:60px center;}